{% extends 'index.html' %}

{% block content %}  

    <h1>Pedidos faltantes en Fenix</h1>
    <!-- {% if pedidos_fenix %}
    <table id="pedidos_fenix" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Pedido</th>
                <th>Actividad</th>
                <th>Fecha</th>
                <th>Código</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            % for p in pedidos_fenix %}
            <tr>
                <td>{{p.pedido}}</td>
                <td>{{p.actividad}}</td>
                <td>{{p.fecha}}</td>
                <td>{{p.codigo}}</td>
                <td>{{p.cantidad}}</td>
            </tr>
            {% endfor %}    
    {% endif %} -->

    
{% endblock content %}


